<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wd.dao.orders.mapper">
	<cache eviction="LRU" type="com.wd.cache.RedisCache"/>
	<!-- 增加订单条目 -->
	<insert id="addOrder" parameterType="Orders">
		insert into orders(u_id,i_id,o_count,o_time)
			values(#{u_id},#{i_id},#{o_count},#{o_time})
	</insert>
	
	<!-- 根据用户id显示该用户订单的所有条目 -->
	<select id="getUserOrders" parameterType="int" resultMap="OrdersResultMap">
		select * from orders where u_id=#{u_id} order by o_time desc
	</select>
	<resultMap type="Orders" id="OrdersResultMap">
		<association property="item" javaType="Item" column="i_id" select="getItem"/>
	</resultMap>
	<select id="getItem" parameterType="int" resultMap="itemsUResultMap">
		select * from item where i_id=#{id}
	</select>
	<resultMap type="Item" id="itemsUResultMap">
		<id property="i_id" column="i_id"/>
		<association property="user" column="u_id" javaType="User" select="getUser"/>
	</resultMap>
	<select id="getUser" parameterType="int" resultType="User">
		select u_store,u_id from user where u_id=#{id}
	</select>
	
</mapper>