<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wd.dao.user.mapper">
	<!-- 用户注册 -->	
	<insert id="addUser" parameterType="User">
		insert into user(u_name,u_pwd,u_issell,u_store,u_money) 
		values(#{u_name},#{u_pwd},#{u_issell},#{u_store},#{u_money})
	</insert>

	<!-- 减少账户余额 -->
	<update id="updateUser" parameterType="java.util.Map">
         update user set u_money=u_money-#{u_money} where u_id=#{u_id}
    </update>
    
    <!-- 获得用户信息 -->
    <select id="getUser" parameterType="String" resultType="User">
    	select * from user where u_name=#{u_name}
    </select>
    
    <!-- 获得账户余额 -->
    <select id="getMoney" parameterType="int" resultType="double">
    	select u_money from user where u_id=#{u_id}
    </select>
    
</mapper>